body {
    background-color:  rgb(149, 217, 251);
    background: cover;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 3fr 4fr;
    height: 95vh;
    gap: 15px;
}


.header {
    display: flex;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 20px 0px 10px 0px;
}

.title {
    background-color: rgb(243, 222, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105px;
    border: solid #005792 5px;
    border-radius: 100px;
    padding: 0px 40px 0px 40px;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: rgb(221, 70, 53);
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 3px;
}

#new-game-btn {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 300px;
    height: 100px;
    padding: 0px 20px 0px 20px;
    justify-self: center;
    align-self: center;
    justify-content: center;
    display: none;
}

.new-game-text {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: rgb(243, 222, 97);
    color: #005792;
    border: #005792 solid 3px;
    border-radius: 10px;
    font-weight: 600;
    width: 100%;
}

#new-game-btn:hover{
    cursor: pointer;
}

.gameboard {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
    width: 725px;
    height: 600px;
    margin: 0 auto;
    align-items: center;
    background-color: #005792;
    border-radius: 10px;
    display: none;
}

.gameboard:hover {
 cursor: pointer;
}

#message-board {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: center;
    align-self: center;
    width: 250px;
    height: 95px;
    padding: 0px 20px 0px 20px;
    background-color: rgb(221, 70, 53);
    color: white;
    border: #005792 solid 3px;
    border-radius: 10px;
    display: none;
}

.message-board-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

#win-count-board {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    align-self: start;
    width: 250px;
    height: 220px;
    padding: 0px 20px 0px 20px;
    background-color: rgb(221, 70, 53);
    color: white;
    border: #005792 solid 3px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    display: none;
}

.win-count-title {
    /* height: 80px; */
    margin: 10px 7px 10px 7px;
    font-size: 40px;
    font-weight: 600;
}

.win-players {
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.p1-wins, .p2-wins {
    font-size: 25px;
    padding: 0px 10px 0px 10px;
    border: #005792 solid 3px;
    border-radius: 50px;
    background-color: rgb(243, 222, 97);
    color: #005792;
}

.win-counts {
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin-top: 10px;
    font-size: 45px;
    font-weight: 600;
}

.slot {
    display: flex;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    justify-content: center;
    margin: 5px;
    background-color: white;
}

.red{
    background-image: url("./images/red-chip.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.yellow {
    background-image: url("./images/yellow-chip.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.fall {
    animation-name: fall-animation;
    animation-duration: 700ms;
}

@keyframes fall-animation {
    from {
        transform: translateY(-700px);
    }
    to {
        transform: translateY(0);
    }
}

.modal {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: center;
    top: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background-color: rgb(221, 70, 53);
    border-radius: 10px;
    border: solid #005792 5px;
  }

.modal-title {
    display: flex;
    font-size: 40px;
    background-color: rgb(243, 222, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #005792 5px;
    border-radius: 100px;
    padding: 0px 40px 0px 40px;
    font-weight: 600;
    color: #005792;
}

.instructions {
    font-size: 15px;
    margin-top: 20px;
    padding: 0px 20px 30px 10px;
    width: 96%;
    color: white;
}

.instruction-steps {
    padding-left: 35px;
    display: block;
    margin: 8px;
}

.start-title {
    display: flex;
    font-size: 40px;
    background-color: rgb(243, 222, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #005792 5px;
    border-radius: 100px;
    padding: 0px 40px 0px 40px;
    font-weight: 600;
    color: #005792;
}

.choose-player {
    background-color: #005792;
    border: rgb(243, 222, 97) solid 4px;
    border-radius: 10px;
}

span {
    font-weight: 600;
    font-size: 35px;
    
}

.choose-text {
    padding: 15px 15px;
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 30px;
}

.options {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.token1 {
    display: flex;
    height: 130px;
}

.token2 {
    display: flex;
    height: 130px;
}

.token1, .token2:hover {
    cursor: pointer;
}